.App {
  text-align: center;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

.button{
  font-size: 22pt;
  background-color: lightblue;
  width: 99%;
  height: 80px;
  border: 2px solid black;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
hr{
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
}
li{
  font-size: 18pt;
  margin: 30px;
}

.imdb-content{
  text-align: left;
  width: 40%;
  margin: auto;
  border: 2px solid black;
  background: lightgrey;
}
